<%- include('layauts/header') %>

<body class="main-body leftmenu">

    <%- include('layauts/loader') %> 

    <!-- Page -->
    <div class="page main-signin-wrapper border border-none color-fondo">

        <div class="container ">
            <div class="text-center details text-white">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <img src="./assetsDashboard/images/astroglobos_1.png" style="width: 70% !important;" alt="sesion-cerrada">
                    </div>
                    <div class="col-lg-12 px-5 mt-5">
                        <p class="mb-4 mt-2" style="color: #141414;">Oops... Su sesión a expirado, por favor inicie sesión nuevamente</p>
                        <a class="btn btn-primary ripple text-center font-weight-normal pt-2 font-18" href="/" style="color: white !important;">Iniciar sesión nuevamente!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Page -->

<%- include('layauts/footer') %> 

	