.plataforma_label{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
}
.plataforma_label input{
    margin-right: 8px;
    height: 34px;
    width: 100%;
}
.busqueda-off{
    display: none;
}
#global-loader-container{
    display: none;
    justify-content: center;
    align-items: center;
    height: 128vh;
    flex-direction: column;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #9e1978;
    border-radius: 30px;
}
#loader_charge-state, .loader_charge-state{
    color: #450553;
    font-size: 32px;
    font-weight: 700;
    margin-top: -23px;
    display: inline-block;
}
.loader_charge-state{
    font-size: 16px;
    font-weight: 300;
}
.profile-cover__img>img{
    width: 120px!important;
    height: 120px!important;
    object-fit: cover!important;
}