<h1 style="
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
">Bienvenido al día de la familia de Ecopetrol</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">Hola! gracias por participar en el evento del día de la familia de Ecopetrol, a continuación podras ver las credenciales de tu billetera: </p>

<p><strong>Usuario: </strong><%= usuario.email%></p>
<p><strong>Contraseña: </strong><%= usuario.password%></p>

<p style="font-family: Arial, Helvetica, sans-serif;">Para acceder a Ecowallet, visita: <a href="https://ecowallet.com.co">ecowallet.com.co</a></p>
<p style="font-family: Arial, Helvetica, sans-serif;">Si no solicitaste este E-mail puedes ignorarlo</p>