<!-- Main Footer-->
<div class="main-footer text-center">
    <div class="container">
        <div class="row row-sm">
            <div class="col-md-12">
                <span>Copyright © <%- year %> <a href="/">Ecowallet</a>. Todos los derechos reservados. Desarrollado por <a href="https://digiworld.com.co">Digiworld</a></span>
            </div>
        </div>
    </div>
</div>
<!--End Footer-->