<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<!-- <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"> -->
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="Ecowallet - Vive lo increibre de la tecnológia">
		<meta name="author" content="Digiworld Marketing SAS">
		<meta name="keywords" content="Comparte en el día de la familia de ecopetrol una experiencia ténologica impresionante, utiliza tu Ecowallet para recibir las ganacias de todos los juegos y didacticas que podras encontrar a los largo del evento.">

		<!-- Favicon -->
		<link rel="icon" href="/assetsDashboard/img/icono.png" type="image/x-icon"/>

		<!-- Title -->
		<title>Ecowallet | Dashboard - <%- nombrePagina %> </title>

		<!-- manifest -->
		<link rel="manifest" href="/pwa.webmanifest">

		<!-- Bootstrap css-->
		<link href="/assetsDashboard/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

		<!-- Icons css-->
		<link href="/assetsDashboard/plugins/web-fonts/icons.css" rel="stylesheet"/>
		<link href="/assetsDashboard/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
		<link href="/assetsDashboard/plugins/web-fonts/plugin.css" rel="stylesheet"/>

		<!-- Style css-->
		<link href="/assetsDashboard/css/style.css" rel="stylesheet">
		<link href="/assetsDashboard/css/skins.css" rel="stylesheet">
		<link href="/assetsDashboard/css/dark-style.css" rel="stylesheet">
		<link href="/assetsDashboard/css/colors/default.css" rel="stylesheet">

		<!-- Internal DataTables css-->
		<link href="/assetsDashboard/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
		<link href="/assetsDashboard/plugins/datatable/responsivebootstrap4.min.css" rel="stylesheet" />
		<link href="/assetsDashboard/plugins/datatable/fileexport/buttons.bootstrap4.min.css" rel="stylesheet" />

		<!-- Color css-->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="/assetsDashboard/css/colors/color.css">

		<!-- Select2 css -->
		<link href="/assetsDashboard/plugins/select2/css/select2.min.css" rel="stylesheet">

		<!-- Internal Daterangepicker css-->
		<link href="/assetsDashboard/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

		<!-- InternalFileupload css-->
		<link href="/assetsDashboard/plugins/fileuploads/css/fileupload.css" rel="stylesheet" type="text/css"/>

		<!-- InternalFancy uploader css-->
		<link href="/assetsDashboard/plugins/fancyuploder/fancy_fileupload.css" rel="stylesheet" />

		<!-- Internal TelephoneInput css-->
		<link rel="stylesheet" href="/assetsDashboard/plugins/telephoneinput/telephoneinput.css">

		<!-- Sidemenu css-->
		<link href="/assetsDashboard/css/sidemenu/sidemenu.css" rel="stylesheet">

		<!-- Internal Sweet-Alert css-->
		<link href="/assetsDashboard/plugins/sweet-alert/sweetalert.css" rel="stylesheet">

		<!-- Icheck -->
		<link href="/assetsDashboard/css/polaris/polaris.css" rel="stylesheet">
		<link href="/assetsDashboard/css/flat/purple.css" rel="stylesheet">
		<link href="/assetsDashboard/css/square/purple.css" rel="stylesheet">

		<!-- trix -->
		<link href="/assetsDashboard/css/trix.css" rel="stylesheet">

		<!-- Animate css -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

		<!-- tiny-slider -->
		<link rel="stylesheet" href="/assetsDashboard/css/owlcarousel/owl.carousel.min.css">
		<link rel="stylesheet" href="/assetsDashboard/css/owlcarousel/owl.theme.default.min.css">

		<!-- Internal Datetimepicker-slider css -->
		<link href="/assetsDashboard/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">

		<!-- special css -->

		<link rel="stylesheet" href="/assetsDashboard/css/special/index.css">

		<!-- Js -->
        <script async src="/assetsDashboard/js/main.js"></script>

		<!-- AR JS -->
		<!-- <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script> 
		<script src="https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script> -->
        <!-- <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script> -->
		<!-- <script src="/assetsDashboard/js/aframe-ar.js"></script> -->

		<script type="module" src="/assetsDashboard/js/model-viewer.min.js"></script>

	</head>