<!-- Loader -->
<div id="global-loader" style="background-color: #eaedf7;">
    <div id="global-loader-container">
        <img src="/assetsDashboard/img/gif-full1.gif" class="loader-img" alt="Loader" style="width: 75px; height: 75px;">
        <p id="loader_charge-state"></p>
        <p class="loader_charge-state">Cargando...</p>
    </div>

</div>
<!-- End Loader -->