<!-- Sidebar -->
<div class="sidebar sidebar-right sidebar-animate">
    <div class="sidebar-icon">
        <a href="#" class="text-right float-right text-light fs-20" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="fe fe-x"></i></a>
    </div>
    <div class="sidebar-body">
        <h5 class="text-uppercase" style="background-color: #25243c; color: #fff;"><i class="fe fe-bell"></i> Notificaciones</h5>
        <!-- Bajo Pedido -->
        <h5 class="mb-0">Movimientos Ecobits (<span id="countEcobits">0</span>)</h5>
        <section id="bodyEcobits"></section>
    </div>
</div>
<!-- End Sidebar -->
